@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@700&display=swap');

#loading-bar-spinner.spinner {
    left: 50%;
    margin-left: -20px;
    top: 20%;
    margin-top: -20px;
    position: absolute;
    z-index: 19 !important;
    animation: loading-bar-spinner 400ms linear infinite;
}

#loading-bar-spinner.spinner .spinner-icon {
    width: 40px;
    height: 40px;
    border:  solid 4px transparent;
    border-top-color:  #00C8B1 !important;
    border-left-color: #00C8B1 !important;
    border-radius: 50%;
}

@keyframes loading-bar-spinner {
  0%   { transform: rotate(0deg);   transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}


@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

.btn{
    display: inline-block;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
    font-family: sans-serif;
    shape-rendering: auto;
    box-shadow: #555;
}

/* footer */
a{
  text-decoration: none;
  color: #555;
}

.footer {
    background: #000;
    color: #8a8a8a;
    font-size: 15px;
    padding: 60px 0 20px;
    font-family: 'Alkatra';
    /* position: fixed; */
}
.footer p{
    color: #8a8a8a;
}

.footer h3{
    color: #ffffff;
    margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}

.footer-col-2 img {
    width: 180px;
    margin-bottom: 20px;
}

.footer-col-3,
.footer-col-4{
    flex-basis: 10%;
    text-align: center;
}

ul{
    list-style-type: none;    
}

.app-logo{
    margin-top: 20px;
}

.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}
