.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loader {
  width: 215px;
  height: 220px;
  background:
      linear-gradient(0.25turn, transparent, #FFF, transparent),
      linear-gradient(#DDD, #DDD),
      linear-gradient(#DDD, #DDD),
      linear-gradient(#DDD, #DDD);
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 215px 220px, 215px 130px, 100px 15px, 150px 15px;
  background-position: -215px 0, 0 0, 15px 150px, 15px 180px;
  animation: loading 1.5s infinite;
}

@keyframes loading {
to {
  background-position: 215px 0, 0 0, 15px 150px, 15px 180px;
}
}


body {
  background-color: #fff; /* Light mode background color */
  color: #000; /* Light mode text color */
}



body.dark-mode {
  background-color: #2b2020;
  color: #ffd0d0;
}
